.logo{
    display: block;
    margin: auto;
    width: 60px;
    height: 60px;
}
body{
    height: 100vh;
    background: linear-gradient(90deg, rgb(125, 70, 145) 0%, rgb(106, 173, 236) 100%);
}
.container {
    max-width: 940px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 30px;
    border-radius: 12px;
    overflow-y: auto;
    margin-bottom: 15px;
}


h1 {
     text-align: center;
     display: block;
     margin: auto;
     font-size: 30px;
     font-family: serif;
}

.message{
    background-color: rgb(202, 195, 195);
    width: 24%;
    margin: 17px 12px;
    padding:10px;
    border: 2px solid black;
    border-radius: 10px;
}
.left{
    float:left;
    clear:both;
}
.right{
    float:right;
    clear:both;
}
#send-conatiner{
    display: block;
    margin: auto;
    max-width: 850px;
    
}
#messageInp {
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    margin: 5px;
    font-size: 22px;
    font-family: serif;
}
.btn {
    margin: 0px 15px 0px 15px;
    width: 14%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 35px;
}